# Dependencies
node_modules/
package-lock.json

# Test Results
test-results/
allure-results/
allure-report/
screenshots/
videos/
traces/

# Logs
logs/
*.log

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

